/* CSS code for form styling */
form {
max-width: 200px;
margin: 0 auto;
padding: 20px;
border-radius: 5px;
/* box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);  */
box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2); 
text-align: center;
}

label {
display: block;
margin-bottom: 10px;
text-align: left; /* Add this line to align labels to the left */
}

input[type="text"],
input[type="password"] {
width: 80%;
padding: 8px;
margin-bottom: 10px;
border-radius: 5px;
}

button {
width: fit-content;
padding: 10px;
margin-bottom: 20px;
border: none;
border-radius: 5px;
font-size: 16px;
cursor: pointer;
}

button[type="submit"] {
background-color: #033246;
}



button:hover {
opacity: 0.8;
}

.buttons {
display: flex;
flex-direction: column;
align-items: center;
margin-top:20px;
}

/* CSS code for form styling */
#login-form {
margin: 0 auto;
padding:100px;
width:300px;
border-radius: 5px;
display:flex;
flex-direction:column;
align-items:center;
text-align: center;
}
#login-form>* {
width:inherit;
}  

label {
display: block;
margin-bottom: 3px;
text-align: left;
font-weight:bold;
}

input[type="text"],
input[type="password"],
input[type="email"],
select {
width:100%;
padding: 8px;
margin-bottom: 10px;
border: 1px solid #ccc;
border-radius: 5px;
box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Shadow effect */
}
.password-input-container {
position: relative;
}

.password-input-container button {
position: absolute;
right: -18px;
top: 0;
}

select {
padding: 8px;
margin-bottom: 10px;
border: 1px solid #ccc;
border-radius: 5px;
box-sizing: border-box; /* Add this line to include padding in the width calculation */
}

.dark-button {
  background-color: #033246; /* Dark background color */
  color: #ffffff; /* White font color */
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Styles for the light button */
.light-button {
  background-color: #ffffff; /* Light background color */
  color: #033246; /* Font color */
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Shadow effect */
}

/* Hover styles */
.light-button:hover {
  background-color: #f5f5f5; /* Lighter background color on hover */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Shadow effect on hover */
}


/* Hover styles */

body {
display: flex;
flex-direction: column;
align-items: center;
height: 100vh; /* Set the height of the body to the viewport height */
}

.register-box {
display: flex;
flex-direction: row;
margin-top: auto; /* Push the register-box to the top of the available space */
margin-bottom:auto;
width:fit-content;
align-items:stretch;
}

.register-box > *{
flex:1;
}
.form-element{
  padding:10px;
}


.formintro{
text-align:left;
margin-bottom:20px;
}

.formtitle{
margin:-20px 0px 20px 0px;
font-size:24px;
font-weight: bold;

}
.back{
text-align:left;
margin-left:-20px;
margin-top:-40px;
margin-bottom:20px;
}