:root{
    --extra-bright-color: #485f68;
}

/* changes for the side menu */
.invoice{
    background-image: linear-gradient(to left, var(--secondary-color) 99%, var(--tertiary-color) 1%);
    padding: 10px;
}

.invoice:hover{
    background-color: var(--secondary-color);
}

.ic_invoice{
    color:var(--tertiary-color);
    margin-right: 10px;
}


/* style for the top contents (summary) */

.content_top{
    margin-top: 20px;
    display: flex;
    /* flex-direction: column; */

    min-width: 350px;
    max-width: 800px;

    gap: 20px
}

/* style for invoice page title */

.invoice_title{
    font-size: 30px;
}

/* style for summary content */

.summary{

    display: flex;
    gap: 30px;
    width: 50%;
    overflow: hidden;

    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;

    border: 1px solid var(--secondary-color);
    box-shadow: 5px 5px 10px rgba(45,82,97,0.3);
    border-radius: 10px;

    text-align: center;
    color:var(--primary-color);
}

.total_outstanding{
    min-width: 90px;
    max-width: 150px;
    width: 40%;

    align-self: center;
    border-right: 1px solid var(--secondary-color);
    padding-right: 20px;
}

.overdue{
    min-width: 65px;
    max-width: 150px;
    width: 30%;

    align-self: center;
}

.due{
    min-width: 50px;
    max-width: 150px;
    width: 30%;

    align-self: center;
    border-left: 1px solid var(--secondary-color);
    padding-left: 20px;
}

/* style for invoice navigation */

.invoice_navigation{
    /* width: 100%; */

    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

/* styles for uploading invoices */

.upload{
    gap: 30px;
    width: 40%;

    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;

    border: 1px solid var(--secondary-color);
    box-shadow: 5px 5px 10px rgba(45,82,97,0.3);
    border-radius: 10px;

    text-align: left;
    color:var(--primary-color);
}

.upload_invoice,
.upload_soa,
.upload_credit_note{
    display:flex;
    padding:5px;
    justify-content: space-between;
    gap: 10px;
}

.ic_upload{
    width: 10%;
    color:var(--primary-color);
}


/* styles for invoice types navigation */

.inv_nav_list{
    display: flex;
    gap: 50px;
    align-items: flex-end;

    font-size: 20px;
    color: var(--primary-color);

    order: 1;
}

.inv_nav_draft, 
.inv_nav_overdue, 
.inv_nav_paid{
    font-style: italic;
}

.inv_nav_all.clicked, 
.inv_nav_draft.clicked, 
.inv_nav_overdue.clicked, 
.inv_nav_paid.clicked{
    background-image: linear-gradient(to baseline, var(--tertiary-color) 99%, var(--secondary-color) 1%);
}

/* styles for invoice search and filter */

.search_filter{
    display: flex;
    gap: 20px;

    color:var(--extra-bright-color);
    order: 2;
}

/* style for serach box */

.box_search{
    display: flex;
    align-items: center;
    
    padding:5px;
    padding-left: 10px;
    padding-right: 10px;

    border: 1px solid var(--extra-bright-color);
    box-shadow: 4px 4px 10px rgba(45,82,97,0.2);
    border-radius: 10px;
}

.search_type_dropdown{
    margin-right: 10px;
    border: none;
}

.ic_search{
    margin-left: 5px;
}

input[type="text"]{
    font-size: 17px;
    margin-right: 5px;
    border: none;
}

/* style for sorting */

.box_sort{
    display: flex;
    align-items: center;

    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;

    color:var(--extra-bright-color);
    border: 1px solid var(--extra-bright-color);
    box-shadow: 4px 4px 10px rgba(45,82,97,0.2);
    border-radius: 10px;
}

.ic_sort_des, 
.ic_sort_asc{
    margin-left: 2px;
}

.ic_sort_des, 
.ic_sort_asc:hover{
    cursor:pointer;
}


.sort_hint{
    margin-right: 5px;
}

.sort_dropdown{
    margin-left: 5px;
    margin-right: 5px;

    color:var(--primary-color);
    font-size: 15px;
    border: none;
}


/* styles for the invoice table */

.invoice_table{
    margin-top: 20px;
    table-layout: auto;
    width: 100%;

    border: 1px solid var(--extra-bright-color);
    box-shadow: 4px 4px 10px rgba(45,82,97,0.2);
    border-radius: 6px;

    background-color: var(--secondary-color);
}

.invoice_table thead {
    display: table-header-group;

    color:white;
    align-items: center;
}

.invoice_table th{
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding:5px;
}

.invoice_table td{
    color: var(--primary-color);
    background-color: white;
    padding:5px;

    border-radius: 3px;
    text-align: center;
    vertical-align: middle;
}

.invoice_table td:nth-child(1) {
    color: var(--primary-color);
}

.invoice_table td:nth-child(6) {
    justify-content: space-between;
}

.ic_edit,
.ic_delete{
    color: var(--primary-color);
    /* order: 1; */
}

.ic_delete:hover{
    cursor: pointer;
}

.ic_export{
    margin-left: 2px;
    color: var(--primary-color);
}