
/* style for the main body */

body {
    /* display: flex; */
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

a {
    text-decoration: none; 
    color: inherit;
    width: 100%;
  }
  
  a:visited {
    color: inherit;
  }
  
  a:focus,
  a:active {
    outline: none; 
  }

/* styles for the side menu */

.sidebar {
    width: 15%;
    min-width: 250px;
    /* max-width: 400px; */

    background-color: #033246;
    height: 100vh;
    position: fixed;
}

.sidebar ul {
    list-style-type: none;
    margin-top: 20px;
    margin: 0;
    padding: 10px;
    
}

.sidebar li {
    width: 100%;
    align-items: center;
    display: flex;
}

.logo{
    width: 30%;
}

.title {
    padding: 10px;
    font-size: 25px;
}

/* styles for link in the side bar */

.sidebar a {
    color: #D3D4CD;
    text-decoration: none;
}

.sidebar a:active {
    color: #E4E4E4;
}

/* styles for personal info section */

.profile {
    position: relative;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    color: #D3D4CD;
    display: flex;
    align-items: center;
}

.profile_pic{
    width: 70px;
    height: auto;
    border-radius: 50%;
}

.personal_info {
    
    margin-left: 20px;
}

.name {
    font-size: 25px;
    font-style: bold;
}

/* .btn_edit_profile {
    maybe can replace with an icon and put at the right top
    font-size: 10px;
    margin-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    border: 1px solid #D3D4CD;
    background-color: #033246;
    color:#D3D4CD;
} */

.btn_edit_profile:hover {
    background-color: #2D5261;
    color:#D3D4CD;
}

.notification{
    align-self: flex-start;
    /* margin-left: 5px; */
    position: absolute;
    top:0;
    right: 0;
    padding: 15px;
    margin-top: 5px;
}

.ic_notificaiton:hover{
    background-color: #2D5261;
}
/* style for navigation on the side bar */

.navigation{
    margin-top: 30px;
}

.home{
    padding: 10px;
}

.home:hover{
    background-color: #2D5261;
}

.ic_home{
    color:#D3D4CD;
    margin-right: 10px;
    margin-left: 10px
}

.invoice{
    padding: 10px;
}

.invoice:hover{
    background-color: #2D5261;
}

.ic_invoice{
    color:#D3D4CD;
    margin-right: 10px;
    margin-left: 10px
}

.soa{
    padding: 10px;
}

.soa:hover{
    background-color: #2D5261;
}

.ic_soa{
    color:#D3D4CD;
    margin-right: 10px;
    margin-left: 10px
}

.supplier{
    padding: 10px;
}

.supplier:hover{
    background-color: #2D5261;
}

.ic_supplier{
    color:#D3D4CD;
    margin-right: 10px;
    margin-left: 10px
}

.payment{
    padding: 10px;
}

.payment:hover{
    background-color: #2D5261;
}

.ic_payment{
    color:#D3D4CD;
    margin-right: 10px;
    margin-left: 10px
}

.setting{
    padding: 10px;
}

.setting:hover{
    background-color: #2D5261;
}

.ic_setting{
    color:#D3D4CD;
    margin-right: 10px;
    margin-left: 10px
}


/* style for the main content */

.content {
    /* width:70%; */
    margin-left: max(250px, 17%);
    padding: 20px;
    /* font-family: 'Lora', serif; */
}