
:root{
    font-family: 'Ubuntu', sans-serif;
    --primary-color: #033246;
    --secondary-color: #2D5261;
    --tertiary-color: #D3D4CD;
}

/* style for the main body */

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none; 
    color: inherit;
    width: 100%;
  }
  
  a:visited {
    color: inherit;
  }
  
  a:focus,
  a:active {
    outline: none; 
  }

/* styles for the side menu */

.sidebar {
    width: 15%;
    min-width: 250px;

    background-color: var(--primary-color);
    height: 100vh;
    position: fixed;
}

.sidebar ul {
    list-style-type: none;
    margin-top: 20px;
    margin: 0;
    padding: 10px;
    
}

.sidebar li {
    width: 100%;
    align-items: center;
    display: flex;
}

.logo{
    width: 30%;
}

.title {
    padding: 10px;
    font-size: 25px;
}

/* styles for link in the side bar */

.sidebar a {
    color: var(--tertiary-color);
    text-decoration: none;
}

.sidebar a:active {
    color: var(--tertiary-color);
}

/* styles for personal info section */

.profile {
    position: relative;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    color: var(--tertiary-color);
    display: flex;
    align-items: center;
}

.profile_pic{
    width: 70px;
    height: auto;
    border-radius: 50%;
}

.personal_info {
    
    margin-left: 20px;
}

.name {
    font-size: 25px;
    font-style: bold;
}

.btn_edit_profile:hover {
    background-color: var(--secondary-color);
    color:var(--tertiary-color);
}

.notification{
    align-self: flex-start;
    position: absolute;
    top:0;
    right: 0;
    padding: 15px;
    margin-top: 5px;
}

.ic_notificaiton:hover{
    background-color: var(--secondary-color);
}
/* style for navigation on the side bar */

.navigation{
    margin-top: 30px;
}

.ic_home,
.ic_invoice,
.ic_soa,
.ic_supplier,
.ic_payment,
.ic_setting{
    color:var(--tertiary-color);
    margin-right: 10px;
    margin-left: 10px
}

.home,
.invoice,
.soa,
.supplier,
.payment,
.setting{
    padding: 10px;
}

.home:hover,
.invoice:hover,
.soa:hover,
.supplier:hover,
.payment:hover,
.setting:hover{
    background-color: var(--secondary-color);
}


/* style for the main content */

.content {
    margin-left: max(250px, 17%);
    padding: 20px;
}